<style>

hr{
    color: #ffffff;
    background-color: #ffffff;
    width: 100%;
}

</style>
<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(./assets/img/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Forgot Password
                </span>
            </div>

            <form class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Usuario</span>
                    <input [(ngModel)]="Username" class="input100" type="text" name="username" placeholder="Enter username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input [(ngModel)]="Password" class="input100" type="password" name="pass" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <br>
                <hr>
                <br><br>
                
                
                <div class="container-login100-form-btn">
                    <button (click)="changePassword()" class="login100-form-btn">
                        Cambiar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


	