
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
              <h5 class=" title d-inline">Notificaciones</h5>
          </div>
          <div class=" card-body">

            <form action="">

                <div class=" row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label style="color: white;"> Alerta:</label>
                        <input required [(ngModel)]="alert" type="text" class=" form-control" placeholder="Alerta" name="Alerta" id="">
                        </div> 
                    </div> 
                      
                    <div class="  col-md-6">
                      <div class="form-group">
                        <label style="color: white;"> Mensaje:</label>
                        <input [(ngModel)]="notificacion" type="text" class=" form-control" placeholder="Mensaje" name="Mensaje" id="">
                      </div> 
                    </div> 

                </div>    
                <hr> 
                <div class=" row">
                    <div class=" col-12">
                        <div class="text-white bg-info p-3 mb-2">
                          <p>
                            <span style="color: white;" class="tim-icons icon-bell-55" [data-notify]="icon"></span> {{alert}} : {{notificacion}}
                          </p>
                        </div>
                    </div>
                </div>      
                <hr>
                <div class=" row">
                    <div class=" col-6">
                        <button type="button" (click)="emitMessage()" class="btn btn-fill btn-info ">Enviar</button>  
                    </div>
                </div> 
            </form>


          </div>
        </div>
      </div>
    </div>
</div>
<style>
  input{
      background-color : rgb(53, 54, 77)  !important;  
  }
</style>