
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Editar Prefil</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Username </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Username"
                    type="text"
                    value="{{Username}}"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="@email.com"
                    type="email"
                  />
                </div>
              </div>
              <div class=" col-md-5 pl-md-1">
                <div class=" form-group">
                  <label> Password</label>
                  <input
                    class=" form-control"
                    placeholder="Password"
                    type="text"
                    
                    value="{{Password}}"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="Company"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    placeholder="City"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    placeholder="Country"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input
                    class=" form-control"
                    placeholder="ZIP Code"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> About Me </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Here can be your description"
                    rows="4"
                    value="Mike"
                  >
                  Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
                  </textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <form action="" (ngSubmit)="onSubmit()">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
              <div class=" block block-one"></div>
              <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a>
              <img alt="..." class=" avatar" src="{{imgdefault}}" />
              <br>
              <br>
              <label for="">Cambiar Foto</label><br>
              <input (change)="onChange($event,$event.target.files)" accept="image/*"  type="file" name="archivo" id="archivo" style="color: transparent;" value=""/>
            </a>
            <br><br>
            <h5 class=" title">{{FirstName}} {{LastName}}</h5>
          </div>
        </div>
        <div *ngIf="cheange" class=" card-footer">
          <input   class=" btn btn-fill btn-primary" type="submit" values='Save'>
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  #archivo{
    width: 110px;
    height: 25px;
    overflow: hidden;
  }
  input{
      background-color : rgb(53, 54, 77)  !important;  
  }
  
</style>